<settings>
    <servers>
        <!-- maven repository -->
        <server>
            <id>neverpile</id>
            <username>${REPOSITORY_USERID}</username>
            <password>${REPOSITORY_CREDENTIALS}</password>
        </server>
        <server>
            <id>levigo</id>
            <username>${REPOSITORY_USERID}</username>
            <password>${REPOSITORY_CREDENTIALS}</password>
        </server>
        <server>
            <id>levigo-3rd-party</id>
            <username>${REPOSITORY_USERID}</username>
            <password>${REPOSITORY_CREDENTIALS}</password>
        </server>
        <!-- docker registry -->
        <server>
            <id>${REGISTRY_URL}</id>
            <username>${REPOSITORY_USERID}</username>
            <password>${REPOSITORY_CREDENTIALS}</password>
        </server>
    </servers>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <!--
         Download only the private artifacts from Nexus3 and all publicly available artifacts from maven-central.
         -->
        <profile>
            <id>central-nexus</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>maven-central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>levigo</id>
                    <url>${REPOSITORY_URL}</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>levigo-3rd-party</id>
                    <url>https://levigo.de/maven2/repository/third-party/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>maven-central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>levigo</id>
                    <url>${REPOSITORY_URL}</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
