name: Continuous Delivery

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
      - '.github/**'
      - '!.github/workflows/continuous-delivery.yml'

concurrency:
  group: cd-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build:
    uses: levigo/reusable-workflows/.github/workflows/continuous-delivery.yml@latest
    secrets: inherit
    with:
      multiModule: true
      jdkVersion: 25
      mattermostChannel: 'neverpile-ci'

  updateReadme:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Edit README.md to contain version number
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git checkout master
        git reset --hard HEAD      

        sed -ri "s,<version>.*</version>,<version>${{ steps.semanticversion.outputs.new_version }}</version>," README.md
        sed -ri "s,version-[0-9a-z.]+-,version-${{ steps.semanticversion.outputs.new_version }}-," README.md 
        sed -ri "s,neverpile-fusion/tree/[0-9a-z.]+,neverpile-fusion/tree/${{ steps.semanticversion.outputs.new_tag }}," README.md

        git add README.md
        git commit -m "Edit README.md to contain correct version"

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        branch: master
        github_token: ${{ secrets.GITHUB_TOKEN }}
